__pycache__/
htmlcov/
.idea/
node_modules/
venv/
/build
/static/
.DS_Store
.coverage
.coverage.*
.cache
*.log
db.sqlite3
/.env
/.db_data
docker-compose.local.yaml
/.ssh.ansible
/.python-version
/code
